<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Cars show page</h1>
        The <%=car.name; %> is  <%=car.color; %>.
        <% if(car.fourByFour === true){ %>
            It is ready to drive
        <% } else { %>
            It is not ready to drive
        <% } %>
    </body>
</html>
